always-auth=true
@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=${GSAP_TOKEN}


@hugeicons:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=${HUGEICONS_TOKEN}
//registry.npmjs.org/:_authToken=${HUGEICONS_TOKEN}